/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1f1f1f;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    border-radius: 10px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.info, .skills {
    background: #1f1f1f;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.info h2, .skills h2 {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1f1f1f;
    color: #fff;
    border-radius: 10px;
}

footer a {
    color: #77aaff;
    text-decoration: none;
    margin: 0 10px;
}